/* Logo font */

@font-face {
    font-family: 'Nunito';
    src: url(fonts/logo_font/Nunito-VariableFont_wght.ttf);
    font-weight: 400;
}



/* Main font */

@font-face {
    font-family: 'Bai Jamjuree';
    src: url(fonts//main_font/BaiJamjuree-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url(fonts//main_font/BaiJamjuree-Bold.ttf);
    font-weight: 600;
}

/* Reset settings */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-overflow: balance;
    list-style: none;
    text-decoration: none;
}

/* Variables area */

:root{
    /* Colors */
    --green: hsl(171, 66%, 44%);
    --greenDark:hsl(171, 26%, 49%);
    --greenActive:hsl(170, 63%, 67%);
    --blue: hsl(233, 100%, 69%);
    --blueDark:hsl(220, 60%, 47%);
    --blueActive:hsl(233, 100%, 77%);

    --grayDark: hsl(210, 10%, 33%);
    --grayMiddle:hsl(201, 11%, 66%);
    --grayLight: hsl(0, 0%, 97%);
}

/* Global styling area */

html{
    font-family: 'Bai Jamjuree';
    font-size: 18px;
    font-weight: 400;

    text-align: center;
}

h1, h2, h3{
    font-family: 'Bai Jamjuree';
    font-weight: 600;

    color: var(--grayDark);

    margin-block: 1.5rem;
}

h1{
    font-size: 1.7rem;

    line-height: 1.8rem;
}

h2{
    font-size: 1.5rem;

    line-height: 1.5rem;
}

h3{
    font-size: 1.3rem;

    line-height: 1.3rem;
}

p{
    font-size: 0.9rem;

    line-height: 1.3rem;

    color: var(--grayMiddle);

    margin-block: 1rem;
}

a{
    color: var(--grayDark);
}

img{
    width: 100%;
}

.main_header_logo, .main_footer_logo{
    font-family: 'Nunito';

    font-size: 10rem;

    color: var(--green);
}

.buttonIOS, .buttonMac{
    cursor: pointer;

    height: 3.5rem;
    width: 100%;

    border:0;
    border-radius: 2rem;

    color:  white;

    font-size: 1rem;

    margin-block:  0.7rem;
    padding: 0.5rem 1rem;
}

.buttonIOS{
    background-color: var(--green);

    border-bottom: 4px solid var(--greenDark);
}

.buttonMac{
    background-color: var(--blue);

    border-bottom: 4px solid var(--blueDark);
}

/* Local styling area */

.main{
    width: 100%;
}

.main_section{
    width: 85%;

    margin-inline: auto;

    margin-block: 5rem;
}

.logoPart{
    background:
        linear-gradient(to top, white 0%, transparent 10%),
        url(images/bg-header-mobile.png) top/cover;

        padding: 2.5rem 2.5rem 0;
}

.main_header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_section:nth-of-type(1){
    margin-top: 0;
}

.keepTrackSnippets p{
    width: 95%;

    margin-inline: auto;
}

.keeptrackSnippets_container img{
    margin-block: 1.5rem;
}

.accessClipboard img{
    margin-block: 1.5rem;
}

.superchargeOfWorkflow_article_div{
    margin-block: 2rem;
}

.superchargeOfWorkflow_article img{
    width: 10%;
}

.logoesOfCompanies{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.logoesOfCompanies img{
    width: 40%;

    margin-inline: auto;
}

.main_footer{
    background-color: var(--grayLight);

    padding-top: 1.5rem;
}

.main_footer_logo{
    font-size: 4rem;
}

.main_footer_li{
    margin-block: 1rem;
}

.main_footer .icons{
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icos_ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;

    width: 100%;
}

.icos_ul img{
    width: 100%;
}

.attribution{
    display: none;
}


@media(min-width:600px) and (max-width:990px){
    

    .main_section{
        width: 55%;

        margin-inline: auto;

        margin-block: 5rem;
    }
}

@media (min-width:991px){
    /* Global styling area */

    h1, h2, h3{
        font-family: 'Bai Jamjuree';
        font-weight: 600;

        color: var(--grayDark);

        margin-block: 1.5rem;
    }

    h1{
        font-size: 2.5rem;

        line-height: 2rem;
    }

    h2{
        font-size: 2rem;

        line-height: 1.8rem;
    }

    h3{
        font-size: 1.3rem;

        line-height: 1.3rem;
    }

    p{
        font-size: 1rem;

        line-height: 1.5rem;

        color: var(--grayMiddle);

        margin-block: 1.5rem;
        margin-inline: auto;

        width: 60%;
    }

    .buttons_area{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;

        margin-block: 2rem;
    }

    .buttonIOS, .buttonMac{
        height: 3.5rem;
        width: 18%;

        border:0;
        border-radius: 2rem;

        color:  white;

        font-size: 1rem;

        margin-block:  0.7rem;
    }

    .buttonIOS{
        background-color: var(--green);

        border-bottom: 4px solid var(--greenDark);
    }

    .buttonIOS:active{
        background-color: var(--greenActive);
    }

    .buttonMac{
        background-color: var(--blue);

        border-bottom: 4px solid var(--blueDark);
    }

    .buttonMac:active{
        background-color: var(--blueActive);
    }

    /* Local styling area */

    .main_section{
        margin-block: 7rem;
    }

    .logoPart{
            background:
                linear-gradient(to top, white 0%, transparent 10%),
                url(images/bg-header-desktop.png) center/cover;

            padding-top: 3rem;
    }

    .headerPart_p{
        margin-inline: auto;
    }

    .keepTrackSnippets{
        margin-inline: 0;

        width: 100%;
    }

    .keepTrackSnippets p{
        width: 55%;
    }

    .keeptrackSnippets_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        
        text-align: start;

        width: 100%;

        margin: 3rem auto;
    }

    .main_p{
        width: 60%;
    }

    .keeptrackSnippets_container p{
        margin-inline: 0;

        width: 65%;
    }

    .keepTrackSnippets_container_div{
        margin-left: 20%;
    }

    .keeptrackSnippets_container img{
        margin-left: -10%;

        width: 115%;
    }

    .accessClipboard img{
        width: 70%;

        margin-top: 3rem;
    }

    .superchargeOfWorkflow_article{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .superchargeOfWorkflow_article p{
        width: 80%;
    }

    .logoesOfCompanies{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }

    .logoesOfCompanies img{
        width: 60%;
    }

    .main_footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        padding-block: 1rem;
    }

    .main_footer>:only-child{
        flex: 1;
    }

    .main_footer_ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 5rem;

        text-align: start;
    }

    .main_footer_li{
        margin-block: 0.5rem;
    }

    .main_footer_li:nth-of-type(1){
        grid-row: 1;
        grid-column: 1;
    }

    .main_footer_li:nth-of-type(2){
        grid-row: 2;
        grid-column: 1;
    }

    .main_footer_li:nth-of-type(3){
        grid-row: 1;
        grid-column: 2;
    }

    .main_footer_li:nth-of-type(4){
        grid-row: 2;
        grid-column: 2;
    }

    .main_footer_li:nth-of-type(5){
        grid-row: 1;
        grid-column: 3;
    }  

}
